	.DS_Store
	.vscode/
	assets/.DS_Store
	assets/css/.DS_Store
	assets/img/.DS_Store
	assets/js/.DS_Store

	assets/img/new-france-flag-1128x1093.png
	assets/js/weather-20200815-submission.js
	assets/js/weather-js-if-else-array.js